@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    // overflow: hidden;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}


.container{
    max-width: 1920px;
    overflow: hidden;
}





/* Set the width and color of the scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
    border: 3px solid transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }

.active{
    background-color: #848484;
}


:root {
    --sidebar-width: 15%;
}


  
  .dashboard_sidebar {
    width: var(--sidebar-width);
    transition: width 0.3s ease-in-out;

    &.collapsed {
        min-width: 50px;
        width: 4%;
    }

    
&:hover {
    width: var(--sidebar-width);
  }

    header {
        height: 10vh;
        background-color: rgb(56, 57, 71);

        img {
            width: 40%;
            object-fit: cover;
        }
    }

    nav {
        height: 85vh;
        background-color: rgb(89, 92, 120);

        .nav-link {
            transition: .3s ease;

            // p {
            //     display: block;
            // }

        }

        // .collapsed .nav-link p {
        //     display: none;
        // }

        .nav-link:hover {
            background-color: gray
        }

    }

    footer {
        height: 5vh;
        background-color: rgb(56, 57, 71);
    }
}


.section-body {
    flex-grow: 1;
    transition: width 0.3s ease-in-out;
    width: calc(100% - var(--sidebar-width));
    overflow: hidden;
    &.collapsed {
        width: calc(100% - 4%);
    }

    header {
        border-bottom: 1px solid rgb(162, 162, 169);

        .header {
            height: 10vh;

        }

        .icon {
            transition: .3s ease;
        }

        .icon:hover {
            color: gray;
        }


        .link {
            font-size: 0.8rem;
            transition: .3s ease;
        }

        .link:hover {
            text-shadow: 0 0 4px rgba(239, 115, 115, 0.437);
        }


    }

    footer {
        box-shadow: 0 0 1px black;
        height: 5vh;

        .footer {
            border-top: 1px solid rgb(162, 162, 169);
        }
    }
}

// Tableda Action hissenin style kodu
.iteyOh , .deUxZV {
    display: flex;
    align-items: center;
    justify-content: center!important;
    }

.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
  }
  
  .pagination button:hover,
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }

.btn-outline-danger:hover{
    box-shadow: 0px 0px 10px rgb(220 71 13);
}

.btn-danger:hover{
    box-shadow: 0px 0px 10px rgb(220 71 13);
}

@media (min-width: 992px) {

    .resp {
        display: block !important;

    }
    .collapsed .resp {
        display: none !important;
    }
}