* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container-xxl {
    
    height: 100vh;

    .container_right {
        background-image: url('../Img/bgpic.jpeg');
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(25, 58, 204, 0.562);
    }


    h6 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        font-weight: 700;
    }

    input {
        background-color: rgba(15, 214, 214, 0.123);
        font-weight: 600;
    }

    .btn {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
    }

    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;

    }
}